

:root {
    --b1: #141414;
    --b2: #202020;
    --b3: #2a2a2a;
    --a: rgb(150, 224, 255);
    --a1: #f0f0f0;
    --a2: #777;
    --a3: #666;
    --d1: #2a2a2a;
    --l1: #e9d2a7b0;
    --l2: #e9d2a7;
    --l3: #e9d2a750;
    --light: 200;
    --bold: 600;
}

    * {
        font-size: 10pt !important;
        font-family: "Krub";
        background-color: var(--b1) !important;
        color: var(--a3) !important;
        border-color: var(--d1) !important;
        line-height: 1.2;
        box-sizing: border-box  !important
    }


    /* links default ****************************************************** */

    a:link,
    a:visited {
        color: var(--l1) !important;
        font-weight: var(--bold)
    }

    a:hover {
        font-weight: 600;
        color: var(--l2) !important;
    }


    /* header ************************************************************************ * */
    #NREPause::after {
        display: none !important;
    }

    #NREPause {
        background: url(images/play.svg) important;
        border-radius: 50%;
        background-position: center;
        /*   fill: var(--a2); */
        /*   height: .8rem; */
        /*   width: .8rem; */
    }

    #header-img{
        background-image: url('images/reddit.png') !important;
    }

    .tabmenu>li>a {
        margin-right: .2rem;
        font-size: 1.1rem !important;
        letter-spacing: .01em !important;
    }

    /* My subs *********************** */
    #sr-header-area a {
        font-size: .88em !important;
        font-weight: 400;
    }

    /* Right ************************* */
    #header-bottom-right a:link {
        font-size: 1.03em !important;
    }

    #header-bottom-right .separator {
        display: none !important;
    }

    #header-bottom-right>* {
        margin: 0px 10px !important;
    }

    .RESDropdownOptions li a {
        padding: 1em !important;
    }

    /* preference ******************** */

    #header-bottom-right .flat-list li {
        display: none !important;
    }

    /* Side ******************************************************************************* */
    .grippy:hover::before,
    .grippy:hover::after,
    .grippy:hover {
        background: var(--b1);
    }

    .grippy::after {
        display: none !important;
    }

    body.with-listing-chooser .listing-chooser {
        width: 160px !important;
    }
    body.with-listing-chooser.listing-chooser-collapsed .listing-chooser{
        width: 0px !important;
    }

    .side .nub {
        display: none;
    }

    .multis a {
        padding-top: 1.2em !important;
        padding-bottom: 1.2em !important;
        margin: 0px !important;
    }

    .create {
        border: 1px solid var(--l1) !important;
        background-color: var(--b1) !important;
        border-right: none !important;
    }

    .create:hover {
        border: 1px solid var(--l2) !important;
        border-right: 0 !important;
    }

    .create button,
    .create form {
        padding-top: .3em !important;
        padding-bottom: .5em !important;
        margin: 0px !important;
        color: var(--l1) !important;
        font-weight: var(--bold);
        opacity: 1 !important;
        border: navy !important;
        background-color: transparent !important;
    }

    .create:hover button {
        color: var(--l2) !important;
    }

    /* side right  */
    .spacer:nth-last-child(2),
    .spacer:nth-last-child(3),
    .spacer:nth-last-child(4) {
        display: none !important;
    }

    .side .spacer a:link,
    .side .spacer a:visited {
        font-size: 1.1em !important;
        font-weight: var(--bold);
        color: var(--li) !important;
    }

    .side .spacer {
        z-index: 1000 !important;
    }
    .side,#search input[type="text"]{
        width: 230px !important;
    }


    /* Main **************************************************************************** */
    body.with-listing-chooser>.content,
    body.with-listing-chooser .footer-parent {
        margin-left: 180px !important;
        margin-right: 250px !important ;
    }

    .res-filterline {
        margin-top: 2rem;
        padding-left: 18rem !important;
        margin-bottom: 1rem !important;
        ;
    }

    .thing *,
    .thing {
        margin: 0 !important;
        padding: 0 !important;
        background-color: transparent !important;
    }

    .thing {
        margin: .7em 0 !important;
        /*   padding: 1.5em 1em !important;; */
        border: 1px solid var(--d1);
        border-radius: .3em;
        position: relative;
        min-height: 120px;
    }

    .thing:hover,
    .thing:active,
    .thing:focus-within {
        border-color: var(--l1) !important;

    }

    .entry.res-selected,
    .entry.res-selected .md-container {
        background-color: transparent !important;
    }

    .thing a:link {
        color: var(--a2) !important;
        ;
        font-weight: 400;
        background-color: transparent !important;
    }

    .thing a:hover {
        color: var(--a1) !important;
        ;
        font-weight: 400;
        text-decoration: none !important;
    }

    .thumbnail {
        /*   background-color: red !important; */
        margin: 0 3em 0 6em !important;
        display: inline-block !important;
        height: 9rem !important;
        width: 9rem !important;
        /*   opacity: 0; */
    }

    .thumbnail img {
        height: 100% !important;
        width: 100% !important;
        object-fit: contain !important;
        background: var(--b1) !important;
        background-size: contain !important;
        margin: 0 !important;
    }

    .title {
        margin-bottom: 0em !important;
        margin-top: .8em !important;
    }


    .title>a:link:first-child {
        color: var(--l2) !important;
        font-size: 1.25rem !important;
        margin-right: 1em !important;
    }

    .title a:visited {
        color: var(--a2) !important;
    }

    .domain,
    .domain a:link,
    .domain a:visited,
    .domain a:hover {
        font-size: .95em !important;
    }


    .flair,
    .linkflairlabel,
    .linkflairlabel a:link,
    .linkflairlabel a:visited {
        display: inline-block !important;
        color: white !important;
        margin-right: 1rem !important;
    }

    .expando-button {
        position: absolute !important;
        transform: translateX(-50%);
        left: 10.5rem;
        top: 0;
        height: 9rem !important;
        ;
        width: 9rem !important;
        background-size: contain !important;
        z-index: 100;
        opacity: 0 !important;
        transition: all ease-in-out 300ms;
    }

    .expando-button:hover {
        opacity: .8 !important;
    }


    .tagline {
        margin-bottom: 4rem !important;
    }

    .tagline a {
        letter-spacing: .05em !important;
        color: var(--a2) !important;
        font-weight: 600 !important;
    }

    .tagline a:link {
        letter-spacing: .05em !important;
        color: var(--a2) !important;
    }

    .tagline a:visited {
        letter-spacing: .05em !important;
        color: var(--a2) !important;
    }

    .tagline a:hover {
        letter-spacing: .05em !important;
        color: var(--a1) !important;
    }

    .rank {
        display: none !important;
    }

    .thing .flat-list {
        position: absolute;
        bottom: .8em !important;
    }

    .flat-list a:link,
    .flat-list a:visited {
        color: var(--a2) !important;
    }

    .flat-list a:hover {
        color: var(--a1) !important;
    }

    .comments {
        margin-right: 2rem !important;
    }

    /*  votes */
    .midcol {
        margin-left: 3rem !important;
        position: absolute !important;
        transform: translate(-50%, -50%);
        top: 50%;
    }

    .arrow {
        margin: .5em auto !important;
        /*   padding: 1em !important; */
        opacity: .2;
    }

    .arrow:hover {
        opacity: 1 !important;
    }

    .score {
        font-weight: 600;
    }

    .tagline .author.moderator,
    .crosspost-preview-tagline .author.moderator {
        background-color: transparent !important;
        font-weight: 400;
    }

    .post-sharing-button,
    .noCtrlF,
    .give-gold,
    .reportbtn,
    .post-crosspost-button {
        display: none !important;
    }

    /* thumb image ************* */
    .thumbnail.default,
    .thumbnail.default:hover {
        background: url('images/web.png') !important;
        background-size: contain !important;
    }

    .expando-button.image.collapsed:hover,
    .expando-button.image.collapsed {
        background: url('images/image.jpg') !important;
        background-size: contain !important;
    }

    .expando-button.collapsed.video,
    .expando-button.collapsed.video:hover,
    .expando-button.video.collapsed {
        background: url('images/video.png') !important;
        background-size: contain !important;
    }

    .expando-button.video-muted.collapsed,
    .expando-button.video-muted.collapsed:hover,
    .expando-button.collapsed.crosspost:hover,
    .expando-button.collapsed.crosspost {
        background: url('images/videoclip.png') !important;
        background-size: contain !important;
    }

    /* padding ************************************************************************** */

    /* .res-filterline{
      margin: 20px 5rem;
    }
    
    .thing:first-of-type{
      margin-top: 5rem !important;
    }
     */

    /* REMOVE ************************************************************************** */
    .footer-parent {
        display: none !important;
    }

    #RESAccountSwitcherIcon,
    .header-bottom-right .separator,
    .userkarma {
        display: none !important;
    }

    .userTagLink {
        display: none !important;
    }

    .crosspost-badge,
    .awardings-bar {
        display: none !important;
    }

