/* set toolkit.legacyUserProfileCustomizations.stylesheets to true in about:config to start using userchrome.css */

@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");


#_testpilot-containers-menuitem-3,
#context-navigation,
#context-back,
#context-forward,
#context-reload,
#context-stop,
#context-bookmarkpage,
#context-sep-navigation,
#context-savepage,
#context-pocket,
#context-sep-sendpagetodevice,
#context-sendpagetodevice,
#context-sep-viewbgimage,
#context-selectall,
#context-sep-viewsource,
#inspect-separator,
#context-inspect+menuseparator:not([id]) {
	display: none !important;
}



/*** frame-context.css ***/
#context-showonlythisframe,
#context-openframe,
#open-frame-sep,
#context-bookmarkframe,
#context-saveframe,
#context-saveframe+menuseparator,
#context-printframe,
#context-printframe+menuseparator {
	display: none !important;
}


/* custom menu*/

menuitem[label="Manage Containers"],
menupopup[class="new-tab-popup"] menuseparator,
toolbarbutton menuitem[label="No Container"] {
	display: none !important;
}




/*** image-context.css ***/
#context-reloadimage,
#context-setDesktopBackground,
#context-viewimageinfo,
#context-sendimage,
#inspect-separator {
	display: none !important;
}


/*** link-context.css ***/
#context-openlinkinusercontext-menu,
#context-openlink,
#context-bookmarklink,
#context-savelink,
#context-savelinktopocket,
#context-sep-sendlinktodevice,
#context-sendlinktodevice,
#inspect-separator,
#context-inspect {
	display: none !important;
}



/*** media-context.css ***/
#context-media-play,
#context-media-pause,
#context-media-mute,
#context-media-unmute,
#context-media-playbackrate,
#context-video-fullscreen,
#context-leave-dom-fullscreen,
#context-video-saveimage,
#context-sendvideo,
#context-sendaudio,
#inspect-separator,
#context-inspect,
#context-sep-copyimage,
#context-media-sep-commands {
	display: none !important;
}


/*** select-context.css ***/
#context-selectall,
#context-sep-selectall,
#context-viewpartialsource-selection,
#inspect-separator,
#context-inspect {
	display: none !important;
}


/*** tab-context.css ***/
#tabContextMenu #context_reloadTab,
#tabContextMenu #context_reloadSelectedTabs,
#tabContextMenu #context_pinSelectedTabs,
#tabContextMenu #context_unpinSelectedTabs,
#tabContextMenu #context_duplicateTab,
#tabContextMenu #context_selectAllTabs,
#tabContextMenu #context_bookmarkSelectedTabs,
#tabContextMenu #context_bookmarkTab,
#tabContextMenu #context_moveTabOptions,
#tabContextMenu #context_sendTabToDevice,
#tabContextMenu #context_closeTabsToTheEnd,
#tabContextMenu #context_closeOtherTabs,
#tabContextMenu #context_closeTab,
#tabContextMenu #context_closeSelectedTabs {
	display: none !important;
}



#toolbar-context-menu .customize-context-moveToPanel,
#toolbar-context-menu .viewCustomizeToolbar,
#urlbar menuitem[cmd="cmd_selectAll"],
#urlbar menuitem[cmd="cmd_delete"]+menuseparator,
#ublock0_raymondhill_net_uBlock0-blockElement,
#context-media-eme-learnmore+menuseparator,
#ublock0_raymondhill_net-menuitem-_uBlock0-blockElement {
	display: none !important;
}

/* Shows bookmark toolbar's icons only when hover, and removes bottom border*/
#PersonalToolbar>* {
	opacity: 0;
	transition: opacity 0.3s;
	transition-delay: .3s;
}

#PersonalToolbar:hover>* {
	opacity: 1 !important;
}

#navigator-toolbox {
	border-bottom: 0px !important;
}


/* 
* Makes tabs only 22px high rather than the default 29px
* Only works on compact mode, otherwise tab height will be normal
*
* Contributor(s): DrPugsley
*/

[uidensity="compact"]:root {
	--tab-min-height: 22px !important;
	--newtab-margin: 1px 0 -3px -3px !important;
}

:root[uidensity="compact"] #tabbrowser-tabs {
	--tab-min-height: var(--tab-min-height) !important;
}

.tabbrowser-tab {
	max-height: var(--tab-min-height) !important;
}

.tabs-newtab-button {
	margin: var(--newtab-margin) !important;
}

/* **************************************************************************************
*****************************************************************************************
************************************************************************************** */
/* Drop Down URL with BLUR need layout.css.backdrop-filter.enabled = true */
.urlbarView {
	background-image: url(image/noise-512x512.png) !important;
	background-color: #ffffff05 !important;
	backdrop-filter: blur(12px) contrast(1.04)   !important;
	color: inherit !important;
}

#urlbar-background {
	display: none !important;
}

/* Hide some buttons for hover 
*/
#nav-bar:not([customizing="true"])>#nav-bar-customization-target>#urlbar-container:not(:hover)>#urlbar:not([focused])>#urlbar-input-container>#page-action-buttons {
	opacity: 0;
}

#page-action-buttons {
	transition: opacity .2s ease;
}

#nav-bar:not([customizing="true"])>#nav-bar-customization-target>#urlbar-container:not(:hover)>#urlbar:not([focused])>#urlbar-input-container>#identity-box {
	opacity: 0;
	/*visibility: collapse;*/
}

#identity-box {
	/*transition: visibility 0.30s ease-in-out, opacity 0.30s ease-in-out;*/
	transition: opacity 0.2s ease;
}

#nav-bar:not([customizing="true"])>#nav-bar-customization-target>#urlbar-container:not(:hover)>#urlbar:not([focused])>#urlbar-input-container>#tracking-protection-icon-container {
	opacity: 0;
}

#tracking-protection-icon-container {
	transition: opacity 0.2s ease;
}

/* Search Bar #2b2b2bd1 */

#urlbar-input-container * {
	opacity: 100%;
	transition: all ease-in-out .5s;
}

#urlbar:hover *,
#urlbar:focus-within * {
	opacity: 100%;
}

#urlbar {
	--autocomplete-popup-highlight-background: #5c5c5c83 !important;
}

#urlbar-input-container {
	/* Fixing icons right and left padding inside search bar for hovering  */
	padding-left: 7px;
	padding-right: 7px;
}

#navigator-toolbox {
	--lwt-toolbar-field-background-color: transparent !important;
	--lwt-toolbar-field-border-color: transparent;
	--lwt-toolbar-field-focus: transparent;
	/* --toolbar-field-focus-border-color: #77777773 !important; */
}


#urlbar:not(.megabar):not([focused="true"]):-moz-lwtheme,
#urlbar:not(.megabar):not([focused="true"]):-moz-lwtheme:hover {
	border-color: transparent;
}

#urlbar {
	border: 0 !important;
	padding-bottom: 0px !important;
	background-image: none !important;
	box-shadow: none !important;
	text-align: center !important;
	/* *************************** */
	color: inherit !important;
	-moz-context-properties: fill, fill-opacity;
	fill: var(--lwt-toolbarbutton-icon-fill, currentColor);
	fill-opacity: var(--toolbarbutton-icon-fill-opacity);
}

#tracking-protection-icon-container {
	border-inline-end: none !important;
	border-image: none !important;
}

/* **************************************************************************************
*****************************************************************************************
************************************************************************************** */

/* Contextual toolbar buttons, only show on hover, this is what matters, the rest of the file are just style tweaks I like

*/

:root:not([customizing]) #nav-bar toolbarbutton {
	margin-left: -28px !important;
	opacity: 0 !important;
	transform: scale(.85, .85) !important;
	pointer-events: none !important;
	transition: all 100ms var(--animation-easing-function) !important;
	transition-delay: .15s !important;
}

:root:not([customizing]) :hover>#nav-bar toolbarbutton,
:root:not([customizing]) #navigator-toolbox:focus-within #nav-bar toolbarbutton,
:root:not([customizing]) :hover>#titlebar toolbarbutton {
	transform: scale(1, 1) !important;
	opacity: 1 !important;
	margin-left: 0 !important;
	pointer-events: auto !important;
}


/* auto collapse nav bar height when in stealth mode (not active), kinda jumpy and annoying after a while so let's just comment it for now */


#nav-bar {
	height: 30px !important;
	transition: all 300ms var(--animation-easing-function) !important;
}

:root:not([customizing]) :hover>#nav-bar,
:root:not([customizing]) #navigator-toolbox:focus-within #nav-bar {
	height: 35px !important;
}



/* some experimentation with expanding tab on hover to see the title better, it's kinda stupid but I was just messing around, could be something useful in the future */
.tabbrowser-tab:not([selected]):hover {
	min-width: 150px !important;
	transition: min-width 150ms var(--animation-easing-function) .5s !important;
}

.tabbrowser-tab:not([selected]) {
	font-style: italic !important;
	opacity: .8 !important;
}

/* random style tweaks I like */
/*
Remove borders everywhere, some code copied from edge style for firefox
*/

:root {
	--tabs-border: transparent !important;
}

.tabbrowser-tab::after,
.tabbrowser-tab::before {
	border-left: none !important;
}

#urlbar,
.searchbar-textbox {
	border: none !important;
	box-shadow: none !important;
}

/* ***************************************************************************************************** */
#nav-bar {
	margin-top: 0px !important;
	border-top: 0px !important;
	box-shadow: none !important;
}

/* nav bar is semi opaque when unhovered */
#nav-bar>* {
	opacity: .4 !important;
	transition: opacity 0.3s !important;
}



#nav-bar:hover>* ,
#nav-bar:focus-within>*,
#urlbar:focus,#urlbar:focus-within {
	opacity: 1 !important;
	/* font-size: 1em !important; */
}

#urlbar {
	opacity: 1 !important;
}

#urlbar .urlbar-input-box, .urlbar-input-box:focus-within {
	opacity: 1 !important;
}

/* ***************************************************************************************************** */

#urlbar,
.searchbar-textbox {
	border: 0px !important;
	height: 20px !important;
}

#urlbar {
	margin-left: 1px !important;
	margin-right: 1px !important;
}

.tab-background {
	border-top: none !important;
}

.tabs-newtab-button,
#new-tab-button,
#alltabs-button {
	color: rgba(240, 240, 240, 1);
	border-top: 0px !important;
	margin-bottom: 0px !important;
}

window:not([chromehidden~="toolbar"]) #urlbar-container>.toolbarbutton-1:-moz-any([disabled], :not([open]):not([disabled]):not(:active))>.toolbarbutton-icon[class],
#main-window:not([customizing]) #back-button[disabled]>.toolbarbutton-icon[class] {

	box-shadow: none !important;
	border: 0px !important;
}

/* bookmarks toolbar edge style */

toolbarbutton.bookmark-item {
	border: 1px rgba(0, 0, 0, 0) solid !important;
}

toolbarbutton.bookmark-item:hover {
	background-color: rgba(75, 75, 75, 1);
	border: 1px rgba(75, 75, 75, 1) solid !important;
}

.titlebar-placeholder[type="post-tabs"] {
	width: 50px !important;
}

#TabsToolbar {
	margin-bottom: 0px !important;
}

#navigator-toolbox::after {
	border-bottom: 0px !important;
}


#TabsToolbar .tab-background {
	border-right: 0px !important;
	border-left: 0px !important;
}

.scrollbutton-up,
.scrollbutton-down {
	margin-bottom: 0px !important;
}

.scrollbutton-up:hover,
.scrollbutton-down:hover {
	background: rgba(42, 42, 42, 1);
}

.scrollbutton-up:hover:active,
.scrollbutton-down:hover:active {
	background: #444;
}

.tabs-newtab-button .toolbarbutton-icon {
	background: transparent;
}

#urlbar,
.searchbar-textbox {
	box-shadow: none !important;
}

.close-icon>.toolbarbutton-icon {
	border-radius: 0px !important;
}

#TabsToolbar[movingtab] {
	padding-bottom: 0px !important;
}

#TabsToolbar[movingtab]>.tabbrowser-tabs {
	padding-bottom: 0px !important;
	margin-bottom: 0px !important;
}

#new-tab-button>.toolbarbutton-icon,
#alltabs-button>.toolbarbutton-icon {
	background-color: transparent;
}

:root {
	--toolbarbutton-border-radius: 0px !important;
}



#context-back>.menu-iconic-left,
#context-forward>.menu-iconic-left,
#context-reload>.menu-iconic-left,
#context-stop>.menu-iconic-left,
#context-bookmarkpage>.menu-iconic-left {
	padding: 0px !important;
}

#tabbrowser-tabs {
	--tab-line-color: -moz-win-accentcolor !important;
	--tab-loading-fill: -moz-win-accentcolor !important;
	box-shadow: none !important;
}

#tabbrowser-tabs:-moz-window-inactive {
	--tab-line-color: rgb(128, 128, 128) !important;
}

.webextension-browser-action {
	filter: saturate(0%);
}


:root[lwtheme-image]:-moz-lwtheme-brighttext {
	text-shadow: none !important;
}


/*
 * Only show close buttons on background tabs when hovering with the mouse
 *
 * Contributor(s): Timvde
 */

.tabbrowser-tab:not([selected]):not([pinned]) .tab-close-button {
	display: none !important;
}

.tabbrowser-tab:not([selected]):not([pinned]):hover .tab-close-button {
	display: -moz-box !important;
}

/*
 * Underlines and dims unloaded tabs
 *
 * Contributor(s): josemam
 */

.tabbrowser-tab[pending] {
	font-style: italic;
	color: #ffffff73 !important;
	font-size: 1em !important;
}


toolbarspring {
	min-width: 8px;
	max-width: 8px;
}

/* Change tab max width */
.tabbrowser-tab[fadein]:not([pinned]) {
	max-width: 300px !important;
}


/* main menu */
#appMenu-popup panelview{
	background: #252728 !important;
    	color: #dfdfdf !important;
}

image[class="panel-arrow"]{
filter: invert(.84) !important;}