* {
    scrollbar-width: thin;

}

:root {
    	scrollbar-width: thin !important;/*
	scrollbar-color: red blue !important; */
	scrollbar-color: #50505034 #00000000 !important; 
	
	-webkit-font-smoothing: antialiased;
	font-smoothing: antialiased;
}

@-moz-document domain(instagram.com) {
*{border:0px !important;
}

.cGcGK {max-width: 650px !important;}

.j9XKR {max-width: 650px !important;}

.XmSS_, .COOzN, .EDfFK, .sH9wk, footer, .eo2As .ybXk5, ._15y0l ,._6JfJs, ._9AhH0,._4l6NB{display:none !important;}

._lz6s {opacity: 0; transition: all 120ms !important ;}
._lz6s:hover {opacity: 1 !important;}

.ltpMr{position: relative !important;
	top:-45px !important;}
.ltpMr svg{opacity: .12;}
.ltpMr button:hover svg{opacity: 1 !important;
	drop-shadow: 2px 2px 2px #000;
	stroke: #fff;
	stroke-width: .5px;}
div[role="dialog"] .ltpMr ,div[role="dialog"] svg, .JyscU .ltpMr, .JyscU .ltpMr svg{position: static !important; opacity: .7 !important;}

.ltpMr svg[fill="#ed4956"]{opacity: 1 !important;}

.EtaWk ._8-yf5 {opacity: .35 ;}
.EtaWk ._8-yf5:hover {opacity: 1 !important;}

.NnvRN{margin-bottom: 20px !important;}

/* .r8ZrO, div[data-testid="post-comment-root"]{display:none !important;} */
}

@-moz-document domain(youtube.com) {
ytd-rich-section-renderer, ytd-popup-container{display:none;}
}

@-moz-document domain(9gag.com) {
*{border-color: #ffffff00 !important;}
.main-wrap {
    float: none !important;
    margin: auto !important;
}
#sidebar{display: none !important;}
.share,.post-section,.secondary,.upload,.board-system__too-nav-button,
.board-system, .up span, .down span{display: none !important;}
a[class="up"]::after,a[class="down"]::after{position:static !important;}

#top-nav{opacity: 0;}
#top-nav:hover{opacity: 1;}
div .sticky-navbar{top: 0px !important;}
.article {margin-bottom: 200px !important;}

}