/* set toolkit.legacyUserProfileCustomizations.stylesheets to true in about:config to start using userchrome.css */

@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

/* extention */
menu[label="Firefox Multi-Account Containers"]{
display: none !important;}


/* NEW */
#_b9db16a4-6edc-47ec-a1f4-b86292ed211d_-menuitem-_vdh-main,
#passwordmgr-items-separator,
#_8263766c-d28e-4460-a2a7-7e7ada52a2d3_-menuitem-_cb_bug_report,
#spell-separator,
#potplayer_shortcut_ru-board_com-menuitem-_pageYoutube,
#context-inspect-a11y,
#context-viewsource,
#context_undoCloseTab,
#context_closeTabOptions,
#context-video-pictureinpicture,
#context-print-selection,
#frame-sep,
#context-media-eme-separator,
#context_shareTabURL,
#context_openANewTab,
#context-sep-screenshots,
#toggle_toolbar-menubar,
#viewToolbarsMenuSeparator,
#tabContextMenu>menuseparator,
#toolbar-context-openANewTab,
#toolbar-context-reloadSelectedTab,
#toolbar-context-bookmarkSelectedTab,
#toolbar-context-selectAllTabs,
#toolbarItemsMenuSeparator,
#toolbarNavigatorItemsMenuSeparator,
#context-sep-setbackground,
#context-sep-ctp
{
display: none !important;}

#_testpilot-containers-menuitem-3,
#context-navigation,
#context-back,
#context-forward,
#context-reload,
#context-stop,
#context-bookmarkpage,
#context-sep-navigation,
#context-savepage,
#context-pocket,
#context-sep-sendpagetodevice,
#context-sendpagetodevice,
#context-sep-viewbgimage,
#context-selectall,
#context-sep-viewsource,
#inspect-separator,
#context-inspect+menuseparator:not([id]) {
	display: none !important;
}



/*** frame-context.css ***/
#context-showonlythisframe,
#context-openframe,
#open-frame-sep,
#context-bookmarkframe,
#context-saveframe,
#context-saveframe+menuseparator,
#context-printframe,
#context-printframe+menuseparator {
	display: none !important;
}


/* custom menu*/

menuitem[label="Manage Containers"],
menupopup[class="new-tab-popup"] menuseparator,
toolbarbutton menuitem[label="No Container"] {
	display: none !important;
}




/*** image-context.css ***/
#context-reloadimage,
#context-setDesktopBackground,
#context-viewimageinfo,
#context-sendimage,
#inspect-separator {
	display: none !important;
}


/*** link-context.css ***/
#context-openlinkinusercontext-menu,
#context-openlink,
#context-bookmarklink,
#context-savelink,
#context-savelinktopocket,
#context-sep-sendlinktodevice,
#context-sendlinktodevice,
#inspect-separator,
#context-inspect {
	display: none !important;
}



/*** media-context.css ***/
#context-media-play,
#context-media-pause,
#context-media-mute,
#context-media-unmute,
#context-media-playbackrate,
#context-video-fullscreen,
#context-leave-dom-fullscreen,
#context-video-saveimage,
#context-sendvideo,
#context-sendaudio,
#inspect-separator,
#context-inspect,
#context-sep-copyimage,
#context-media-sep-commands {
	display: none !important;
}


/*** select-context.css ***/
#context-selectall,
#context-sep-selectall,
#context-viewpartialsource-selection,
#inspect-separator,
#context-inspect {
	display: none !important;
}


/*** tab-context.css ***/
#tabContextMenu #context_reloadTab,
#tabContextMenu #context_reloadSelectedTabs,
#tabContextMenu #context_pinSelectedTabs,
#tabContextMenu #context_unpinSelectedTabs,
#tabContextMenu #context_duplicateTab,
#tabContextMenu #context_selectAllTabs,
#tabContextMenu #context_bookmarkSelectedTabs,
#tabContextMenu #context_bookmarkTab,
#tabContextMenu #context_moveTabOptions,
#tabContextMenu #context_sendTabToDevice,
#tabContextMenu #context_closeTabsToTheEnd,
#tabContextMenu #context_closeOtherTabs,
#tabContextMenu #context_closeTab,
#tabContextMenu #context_closeSelectedTabs {
	display: none !important;
}



#toolbar-context-menu .customize-context-moveToPanel,
#toolbar-context-menu .viewCustomizeToolbar,
#urlbar menuitem[cmd="cmd_selectAll"],
#urlbar menuitem[cmd="cmd_delete"]+menuseparator,
#ublock0_raymondhill_net_uBlock0-blockElement,
#context-media-eme-learnmore+menuseparator,
#ublock0_raymondhill_net-menuitem-_uBlock0-blockElement {
	display: none !important;
}



}